<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>destination</key>
	<string>upload</string>
	<key>manageAppVersionAndBuildNumber</key>
	<false/>
	<key>method</key>
	<string>app-store-connect</string>
	<key>signingStyle</key>
	<string>manual</string>
	<key>signingCertificate</key>
	<string>Apple Distribution</string>
	<key>provisioningProfiles</key>
	<dict>
		<key>dev.companion.mobile</key>
		<string>Companion Native App Store 2026-08-24</string>
		<key>dev.companion.mobile.notifyextension</key>
		<string>Companion Notification Service App Store 2026-08-26</string>
	</dict>
	<key>teamID</key>
	<string>K28B69CWQ7</string>
</dict>
</plist>
