PRODUCT_NAME = Companion
PRODUCT_DISPLAY_NAME = Companion (623507)
MARKETING_VERSION = 2.0.0
CURRENT_PROJECT_VERSION = 202608240749
DEVELOPMENT_TEAM = K28B69CWQ7
SWIFT_VERSION = 6.0
IPHONEOS_DEPLOYMENT_TARGET = 17.0
TARGETED_DEVICE_FAMILY = 1,2
GENERATE_INFOPLIST_FILE = NO
INFOPLIST_FILE = Companion/Support/Info.plist
CODE_SIGN_ENTITLEMENTS = Config/Companion.entitlements
